<style>
#header{
  opacity: 0.4;
  font-family: "Arial Black";
  }
#title{
   font-size: 80px;
}
</style>



  <% if(userid) { %>
    username  ( <%= userDatabase[userid].email %> )
    <form method="POST" action="/logout" style="display : inline;">
      <input type="Submit" value="log out">
    </form>

  <% } else {%>

      <a href="/login">login</a>
      <a href="/register">register</a>
  <% } %>
  <h1 id = "title"> Tiny App </h1>

