<!DOCTYPE html>
<html lang="en">
  <head>
   <style>
  #main {
  background-image: url("https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/14524963_1708750169448875_4262977072518032905_o.jpg?oh=6f11e7cf36523f08f4952b88cf9c5928&oe=59189DC2");
  background-size:100% 100vh;
  text-align: center;
  font-family: "Arial Black";
}
  </style>

  <% include ./partials/_headers %>
  </head>
  <body id = "main">
    <form action="/urls/new" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>

  </body>
</html>