<!DOCTYPE html>
<html>
  <head>
  <style>
  #main {
  background-image: url("https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/14524963_1708750169448875_4262977072518032905_o.jpg?oh=6f11e7cf36523f08f4952b88cf9c5928&oe=59189DC2");
  background-size:100% 100vh;
  text-align: center;
  font-family: "Arial Black";

}
  </style>
  </head>
    <body id = "main">
      <% include ./partials/_headers %>
      <div style = "margin-top: 100px;">
          <h1><b> ShortURL: <mark><%= shortURL %> </mark> <b></h1>
                <form method ="POST" action="/urls/<%=shortURL%>/update">
                  <input id="newlongURL" type="text" name="newlongURL" placeholder="http://" style="width: 300px">
                 <input type="submit" value="Update">
            </form>
      </div>
    </body>
</html>